{
  "performance": {
    "//": "Application resources",
    "threadPoolSize": 16
  },
  "interface": {
    "//": "Application communication interfaces",
    "http": {
      "//": "HTTP JSON interface",
      "ip": [],
      "default": {
        "enabled": true,
        "port": 8000
      },
      "tls": {
        "enabled": false,
        "port": 8001,
        "certificatePath": "",
        "privateKeyPath": "",
        "privateKeyPassphrase": "",
        "certificateChainPaths": []
      },
      "connection": {
        "queueSize": 50,
        "timeout": 300,
        "keepAlive": 5,
        "maximum": 50,
        "maximumByPeer": 5
      },
      "authentication": {
        "key": "",
        "maximumTimeOffset": 0
      }
    }
  },
  "viper.mysql": {
    "//": "Viper MySQL database service",
    "host": "database",
    "port": 3306,
    "username": "viper",
    "password": "__FILE__DB_PASSWORD_FILE",
    "name": "viper",
    "charset": "utf8",
    "connectionsMinimum": 3,
    "connectionsMaximum": 5
  },
  "viper.mail": {
    "//": "Viper SMTP mail service",
    "host": "__ENV__MAIL_HOST",
    "port": "__ENV__INT__MAIL_PORT",
    "tls": "__ENV__BOOL__MAIL_TLS",
    "username": "__ENV__MAIL_USERNAME",
    "password": "__ENV__MAIL_PASSWORD",
    "from": "__ENV__MAIL_FROM",
    "name": "__ENV__MAIL_NAME"
  }
}