{
  "performance": {
    "//": "Application resource usage",
    "threadPoolSize": 10
  },
  "interface": {
    "//": "Application communication interfaces",
    "http": {
      "ip": "127.0.0.1",
      "default": {
        "enabled": false,
        "port": 8000
      },
      "tls": {
        "enabled": false,
        "port": 8001,
        "certificatePath": "",
        "privateKeyPath": "",
        "privateKeyPassphrase": "",
        "certificateChainPaths": []
      },
      "connection": {
        "timeout": 300,
        "keepAlive": 5,
        "maximum": 50,
        "maximumByPeer": 5
      }
    }
  },
  "mail": {
    "//": "SMTP server used for emails",
    "from": "",
    "name": "",
    "host": "",
    "port": 0,
    "username": "",
    "password": ""
  },
  "database": {
    "//": "MySQL database server used for local storage",
    "host": "",
    "port": 3306,
    "username": "",
    "password": "",
    "name": "",
    "charset": "utf8",
    "connectionsMinimum": 3,
    "connectionsMaximum": 5
  }
}